## **Nivel PySpark**

**Instalação do PySpark**

In [1]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 34 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 51.2 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=c2493c164d9eed9ced13b7a6495e6287580f76f1e62f4d2b6b139372cf806345
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [2]:
pip install gcsfs

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting gcsfs
  Downloading gcsfs-2022.5.0-py2.py3-none-any.whl (25 kB)
Requirement already satisfied: decorator>4.1.2 in /usr/local/lib/python3.7/dist-packages (from gcsfs) (4.4.2)
Collecting aiohttp<4
  Downloading aiohttp-3.8.1-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (1.1 MB)
     |████████████████████████████████| 1.1 MB 7.6 MB/s
Collecting fsspec==2022.5.0
  Downloading fsspec-2022.5.0-py3-none-any.whl (140 kB)
     |████████████████████████████████| 140 kB 65.3 MB/s
Requirement already satisfied: google-cloud-storage in /usr/local/lib/python3.7/dist-packages (from gcsfs) (1.18.1)
Requirement already satisfied: google-auth-oauthlib in /usr/local/lib/python3.7/dist-packages (from gcsfs) (0.4.6)
Requirement already satisfied: google-auth>=1.2 in /usr/local/lib/python3.7/dist-packages (from gcsfs) (1.35.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from gcsfs) (2.23.0)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4->gcsfs) (21.4.0)
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4->gcsfs) (2.0.12)
Collecting frozenlist>=1.1.1
  Downloading frozenlist-1.3.0-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (144 kB)
     |████████████████████████████████| 144 kB 60.3 MB/s
Collecting asynctest==0.13.0
  Downloading asynctest-0.13.0-py3-none-any.whl (26 kB)
Collecting async-timeout<5.0,>=4.0.0a3
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Collecting aiosignal>=1.1.2
  Downloading aiosignal-1.2.0-py3-none-any.whl (8.2 kB)
Requirement already satisfied: typing-extensions>=3.7.4 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4->gcsfs) (4.2.0)
Collecting multidict<7.0,>=4.5
  Downloading multidict-6.0.2-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (94 kB)
     |████████████████████████████████| 94 kB 2.5 MB/s
Collecting yarl<2.0,>=1.0
  Downloading yarl-1.7.2-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (271 kB)
     |████████████████████████████████| 271 kB 48.8 MB/s
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (1.15.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (0.2.8)
Requirement already satisfied: setuptools>=40.3.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (57.4.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (4.8)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (4.2.4)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth>=1.2->gcsfs) (0.4.8)
Requirement already satisfied: idna>=2.0 in /usr/local/lib/python3.7/dist-packages (from yarl<2.0,>=1.0->aiohttp<4->gcsfs) (2.10)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib->gcsfs) (1.3.1)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib->gcsfs) (3.2.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->gcsfs) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->gcsfs) (2022.5.18.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->gcsfs) (1.24.3)
Requirement already satisfied: google-cloud-core<2.0dev,>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from google-cloud-storage->gcsfs) (1.0.3)
Requirement already satisfied: google-resumable-media<0.5.0dev,>=0.3.1 in /usr/local/lib/python3.7/dist-packages (from google-cloud-storage->gcsfs) (0.4.1)
Requirement already satisfied: google-api-core<2.0.0dev,>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (1.31.5)
Requirement already satisfied: googleapis-common-protos<2.0dev,>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (1.56.1)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (2022.1)
Requirement already satisfied: packaging>=14.3 in /usr/local/lib/python3.7/dist-packages (from google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (21.3)
Requirement already satisfied: protobuf>=3.12.0 in /usr/local/lib/python3.7/dist-packages (from google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (3.17.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=14.3->google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (3.0.9)
Installing collected packages: multidict, frozenlist, yarl, asynctest, async-timeout, aiosignal, fsspec, aiohttp, gcsfs
Successfully installed aiohttp-3.8.1 aiosignal-1.2.0 async-timeout-4.0.2 asynctest-0.13.0 frozenlist-1.3.0 fsspec-2022.5.0 gcsfs-2022.5.0 multidict-6.0.2 yarl-1.7.2

**Importar bibliotecas**

In [85]:
# CHAMAR AS BIBLIOTECAS e MÓDULOS NECESSÁRIAS
import os
import csv
import pyspark.sql.functions as F
from pyspark import SparkConf
from google.colab import drive
from google.cloud import storage
from pyspark.sql.functions import *
from pyspark.sql import SparkSession
from pyspark.sql.window import Window
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, DateType, FloatType, DoubleType

In [8]:
drive.mount('/content/drive')

Mounted at /content/drive

### **Configuração de Acesso para os GCP**

In [9]:
# CONFIGURAÇÃO DA CHAVE DE SEGURANÇA

serviceAccount = '/content/weighty-archive-349117-ab0ee1ad5b41.json'

os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = serviceAccount

In [13]:
# CÓDIGO QUE ACESSA A BUCKET CRIADA E FAZ O DOWNLOAD DOS ARQUIVOS VIA PANDAS

client = storage.Client()

# CRIAR UMA VARIÁVEL CHAMADA BUCKET QUE VAI RECEBER O NOME DA BUCKET DO CLOUD STORAGE
bucket = client.get_bucket('soulcodemarketing')

# USAR O MÉTODO BLOB PARA RETORNAR O NOME DO ARQUIVO (JSON, CSV, PARQUET)
bucket.blob('marketing_campaign.csv')

 #CRIA UMA VARIÁVEL PATH PARA COLOCAR O CAMINHO DO CSV
path = 'gs://soulcodemarketing/marketing_campaign.csv'

In [14]:
# CRIAR A SPARK SESSION E LER O ARQUIVO VIA PYSPARK

spark = (SparkSession.builder\
        .master("local")\
        .appName("mkt_dataframe")\
        .config("spark.ui.port", "4050")\
        .config("spark.jars", 'https://storage.googleapis.com/hadoop-lib/gcs/gcs-connector-hadoop2-latest.jar')\
        .getOrCreate())

In [15]:
spark

In [16]:
# CRIAR UM DATAFRAME PELO PYSPARK

df = ( spark.read.format('csv')
                 .option('delimiter', ';')
                 .option('header', 'true')
                 .option('inferschema', 'true')
                 .load('gs://soulcodemarketing/marketing_campaign.csv')

)

In [17]:
df.printSchema()

root
 |-- ID: integer (nullable = true)
 |-- Year_Birth: integer (nullable = true)
 |-- Education: string (nullable = true)
 |-- Marital_Status: string (nullable = true)
 |-- Income: integer (nullable = true)
 |-- Kidhome: integer (nullable = true)
 |-- Teenhome: integer (nullable = true)
 |-- Dt_Customer: string (nullable = true)
 |-- Recency: integer (nullable = true)
 |-- MntWines: integer (nullable = true)
 |-- MntFruits: integer (nullable = true)
 |-- MntMeatProducts: integer (nullable = true)
 |-- MntFishProducts: integer (nullable = true)
 |-- MntSweetProducts: integer (nullable = true)
 |-- MntGoldProds: integer (nullable = true)
 |-- NumDealsPurchases: integer (nullable = true)
 |-- NumWebPurchases: integer (nullable = true)
 |-- NumCatalogPurchases: integer (nullable = true)
 |-- NumStorePurchases: integer (nullable = true)
 |-- NumWebVisitsMonth: integer (nullable = true)
 |-- AcceptedCmp3: integer (nullable = true)
 |-- AcceptedCmp4: integer (nullable = true)
 |-- AcceptedCmp5: integer (nullable = true)
 |-- AcceptedCmp1: integer (nullable = true)
 |-- AcceptedCmp2: integer (nullable = true)
 |-- Complain: integer (nullable = true)
 |-- Z_CostContact: integer (nullable = true)
 |-- Z_Revenue: integer (nullable = true)
 |-- Response: integer (nullable = true)

In [18]:
df.show()

+----+----------+----------+--------------+------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+
|  ID|Year_Birth| Education|Marital_Status|Income|Kidhome|Teenhome|Dt_Customer|Recency|MntWines|MntFruits|MntMeatProducts|MntFishProducts|MntSweetProducts|MntGoldProds|NumDealsPurchases|NumWebPurchases|NumCatalogPurchases|NumStorePurchases|NumWebVisitsMonth|AcceptedCmp3|AcceptedCmp4|AcceptedCmp5|AcceptedCmp1|AcceptedCmp2|Complain|Z_CostContact|Z_Revenue|Response|
+----+----------+----------+--------------+------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+
|5524|      1957|Graduation|        Single| 58138|      0|       0| 2012-09-04|     58|     635|       88|            546|            172|              88|          88|                3|              8|                 10|                4|                7|           0|           0|           0|           0|           0|       0|            3|       11|       1|
|2174|      1954|Graduation|        Single| 46344|      1|       1| 2014-03-08|     38|      11|        1|              6|              2|               1|           6|                2|              1|                  1|                2|                5|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|4141|      1965|Graduation|      Together| 71613|      0|       0| 2013-08-21|     26|     426|       49|            127|            111|              21|          42|                1|              8|                  2|               10|                4|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|6182|      1984|Graduation|      Together| 26646|      1|       0| 2014-02-10|     26|      11|        4|             20|             10|               3|           5|                2|              2|                  0|                4|                6|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|5324|      1981|       PhD|       Married| 58293|      1|       0| 2014-01-19|     94|     173|       43|            118|             46|              27|          15|                5|              5|                  3|                6|                5|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|7446|      1967|    Master|      Together| 62513|      0|       1| 2013-09-09|     16|     520|       42|             98|              0|              42|          14|                2|              6|                  4|               10|                6|           0|           0|           0|           0|           0|       0|            3|       11|       0|
| 965|      1971|Graduation|      Divorced| 55635|      0|       1| 2012-11-13|     34|     235|       65|            164|             50|              49|          27|                4|              7|                  3|                7|                6|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|6177|      1985|       PhD|       Married| 33454|      1|       0| 2013-05-08|     32|      76|       10|             56|              3|               1|          23|                2|              4|                  0|                4|                8|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|4855|      1974|       PhD|      Together| 30351|      1|       0| 2013-06-06|     19|      14|        0|             24|              3|               3|           2|                1|              3|                  0|                2|                9|           0|           0|           0|           0|           0|       0|            3|       11|       1|
|5899|      1950|       PhD|      Together|  5648|      1|       1| 2014-03-13|     68|      28|        0|              6|              1|               1|          13|                1|              1|                  0|                0|               20|           1|           0|           0|           0|           0|       0|            3|       11|       0|
|1994|      1983|Graduation|       Married|  null|      1|       0| 2013-11-15|     11|       5|        5|              6|              0|               2|           1|                1|              1|                  0|                2|                7|           0|           0|           0|           0|           0|       0|            3|       11|       0|
| 387|      1976|     Basic|       Married|  7500|      0|       0| 2012-11-13|     59|       6|       16|             11|             11|               1|          16|                1|              2|                  0|                3|                8|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|2125|      1959|Graduation|      Divorced| 63033|      0|       0| 2013-11-15|     82|     194|       61|            480|            225|             112|          30|                1|              3|                  4|                8|                2|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|8180|      1952|    Master|      Divorced| 59354|      1|       1| 2013-11-15|     53|     233|        2|             53|              3|               5|          14|                3|              6|                  1|                5|                6|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|2569|      1987|Graduation|       Married| 17323|      0|       0| 2012-10-10|     38|       3|       14|             17|              6|               1|           5|                1|              1|                  0|                3|                8|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|2114|      1946|       PhD|        Single| 82800|      0|       0| 2012-11-24|     23|    1006|       22|            115|             59|              68|          45|                1|              7|                  6|               12|                3|           0|           0|           1|           1|           0|       0|            3|       11|       1|
|9736|      1980|Graduation|       Married| 41850|      1|       1| 2012-12-24|     51|      53|        5|             19|              2|              13|           4|                3|              3|                  0|                3|                8|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|4939|      1946|Graduation|      Together| 37760|      0|       0| 2012-08-31|     20|      84|        5|             38|            150|              12|          28|                2|              4|                  1|                6|                7|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|6565|      1949|    Master|       Married| 76995|      0|       1| 2013-03-28|     91|    1012|       80|            498|              0|              16|         176|                2|             11|                  4|                9|                5|           0|           0|           0|           1|           0|       0|            3|       11|       0|
|2278|      1985|  2n Cycle|        Single| 33812|      1|       0| 2012-11-03|     86|       4|       17|             19|             30|              24|          39|                2|              2|                  1|                3|                6|           0|           0|           0|           0|           0|       0|            3|       11|       0|
+----+----------+----------+--------------+------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+
only showing top 20 rows

### **1 - Deverá ser montada a estrutura do DataFrame utilizando o StructType.**

**StructType**

In [40]:
schema = StructType([ 
      StructField("",                       IntegerType(), True),
      StructField("id",                     IntegerType(), True),
      StructField("ano_nascimento",         IntegerType(),  True),
      StructField("educacao",               StringType(),  True),
      StructField("estado_civil",           StringType(),   True),
      StructField("renda_anual",            FloatType(),   True),
      StructField("qtd_crianca",            IntegerType(),  True),
      StructField("qtd_adolescente",        IntegerType(), True),
      StructField("primeira_data_compra",   DateType(),    True),
      StructField("dias_desde_ult_compras", IntegerType(), True),
      StructField("qtd_vinhos",             IntegerType(), True),
      StructField("qtd_frutas",             IntegerType(), True),
      StructField("qtd_carne",              IntegerType(), True),
      StructField("qtd_peixe",              IntegerType(), True),
      StructField("guloseimas",             IntegerType(), True),
      StructField("qtd_produtos_gold",      IntegerType(), True),
      StructField("qtd_ofertas_compra",     IntegerType(), True),
      StructField("qtd_compras_online",     IntegerType(), True),
      StructField("qtd_compras_catalogo",   IntegerType(), True),
      StructField("qtd_compras_na_loja",    IntegerType(), True),
      StructField("qtd_visitas_online_mes", IntegerType(), True),
      StructField("oferta_aceita1",         StringType(),  True),
      StructField("oferta_aceita2",         StringType(),  True),
      StructField("oferta_aceita3",         StringType(),  True),
      StructField("oferta_aceita4",         StringType(),  True),
      StructField("oferta_aceita5",         StringType(),  True),
      StructField("reclamacao",             StringType(),  True)])

In [45]:
local= ("/content/df_pd_marketing_campaign.csv")

In [52]:
# Leitura do dataframe
df = spark.read.load(local, format="csv", header="true", sep=',', schema=schema)

In [53]:
df.show()  # Visualização de dataframe

+---+----+--------------+------------------+-------------+-----------+-----------+---------------+--------------------+----------------------+----------+----------+---------+---------+----------+-----------------+------------------+------------------+--------------------+-------------------+----------------------+--------------+--------------+--------------+--------------+--------------+----------+
|   |  id|ano_nascimento|          educacao| estado_civil|renda_anual|qtd_crianca|qtd_adolescente|primeira_data_compra|dias_desde_ult_compras|qtd_vinhos|qtd_frutas|qtd_carne|qtd_peixe|guloseimas|qtd_produtos_gold|qtd_ofertas_compra|qtd_compras_online|qtd_compras_catalogo|qtd_compras_na_loja|qtd_visitas_online_mes|oferta_aceita1|oferta_aceita2|oferta_aceita3|oferta_aceita4|oferta_aceita5|reclamacao|
+---+----+--------------+------------------+-------------+-----------+-----------+---------------+--------------------+----------------------+----------+----------+---------+---------+----------+-----------------+------------------+------------------+--------------------+-------------------+----------------------+--------------+--------------+--------------+--------------+--------------+----------+
|  0|5524|          1957|          Graduado|     Solteiro|    58138.0|          0|              0|          2012-09-04|                    58|       635|        88|      546|      172|        88|               88|                 3|                 8|                  10|                  4|                     7|           nao|           nao|           nao|           nao|           nao|       nao|
|  1|2174|          1954|          Graduado|     Solteiro|    46344.0|          1|              1|          2014-03-08|                    38|        11|         1|        6|        2|         1|                6|                 2|                 1|                   1|                  2|                     5|           nao|           nao|           nao|           nao|           nao|       nao|
|  2|4141|          1965|          Graduado|Uniao_estavel|    71613.0|          0|              0|          2013-08-21|                    26|       426|        49|      127|      111|        21|               42|                 1|                 8|                   2|                 10|                     4|           nao|           nao|           nao|           nao|           nao|       nao|
|  3|6182|          1984|          Graduado|Uniao_estavel|    26646.0|          1|              0|          2014-02-10|                    26|        11|         4|       20|       10|         3|                5|                 2|                 2|                   0|                  4|                     6|           nao|           nao|           nao|           nao|           nao|       nao|
|  4|5324|          1981|         Doutorado|       Casado|    58293.0|          1|              0|          2014-01-19|                    94|       173|        43|      118|       46|        27|               15|                 5|                 5|                   3|                  6|                     5|           nao|           nao|           nao|           nao|           nao|       nao|
|  5|7446|          1967|          Mestrado|Uniao_estavel|    62513.0|          0|              1|          2013-09-09|                    16|       520|        42|       98|        0|        42|               14|                 2|                 6|                   4|                 10|                     6|           nao|           nao|           nao|           nao|           nao|       nao|
|  6| 965|          1971|          Graduado|   Divorciado|    55635.0|          0|              1|          2012-11-13|                    34|       235|        65|      164|       50|        49|               27|                 4|                 7|                   3|                  7|                     6|           nao|           nao|           nao|           nao|           nao|       nao|
|  7|6177|          1985|         Doutorado|       Casado|    33454.0|          1|              0|          2013-05-08|                    32|        76|        10|       56|        3|         1|               23|                 2|                 4|                   0|                  4|                     8|           nao|           nao|           nao|           nao|           nao|       nao|
|  8|4855|          1974|         Doutorado|Uniao_estavel|    30351.0|          1|              0|          2013-06-06|                    19|        14|         0|       24|        3|         3|                2|                 1|                 3|                   0|                  2|                     9|           nao|           nao|           nao|           nao|           nao|       nao|
|  9|5899|          1950|         Doutorado|Uniao_estavel|     5648.0|          1|              1|          2014-03-13|                    68|        28|         0|        6|        1|         1|               13|                 1|                 1|                   0|                  0|                    20|           sim|           nao|           nao|           nao|           nao|       nao|
| 10|1994|          1983|          Graduado|       Casado|   52247.25|          1|              0|          2013-11-15|                    11|         5|         5|        6|        0|         2|                1|                 1|                 1|                   0|                  2|                     7|           nao|           nao|           nao|           nao|           nao|       nao|
| 11| 387|          1976|Ensino_fundamental|       Casado|     7500.0|          0|              0|          2012-11-13|                    59|         6|        16|       11|       11|         1|               16|                 1|                 2|                   0|                  3|                     8|           nao|           nao|           nao|           nao|           nao|       nao|
| 12|2125|          1959|          Graduado|   Divorciado|    63033.0|          0|              0|          2013-11-15|                    82|       194|        61|      480|      225|       112|               30|                 1|                 3|                   4|                  8|                     2|           nao|           nao|           nao|           nao|           nao|       nao|
| 13|8180|          1952|          Mestrado|   Divorciado|    59354.0|          1|              1|          2013-11-15|                    53|       233|         2|       53|        3|         5|               14|                 3|                 6|                   1|                  5|                     6|           nao|           nao|           nao|           nao|           nao|       nao|
| 14|2569|          1987|          Graduado|       Casado|    17323.0|          0|              0|          2012-10-10|                    38|         3|        14|       17|        6|         1|                5|                 1|                 1|                   0|                  3|                     8|           nao|           nao|           nao|           nao|           nao|       nao|
| 15|2114|          1946|         Doutorado|     Solteiro|    82800.0|          0|              0|          2012-11-24|                    23|      1006|        22|      115|       59|        68|               45|                 1|                 7|                   6|                 12|                     3|           nao|           nao|           sim|           sim|           nao|       nao|
| 16|9736|          1980|          Graduado|       Casado|    41850.0|          1|              1|          2012-12-24|                    51|        53|         5|       19|        2|        13|                4|                 3|                 3|                   0|                  3|                     8|           nao|           nao|           nao|           nao|           nao|       nao|
| 17|4939|          1946|          Graduado|Uniao_estavel|    37760.0|          0|              0|          2012-08-31|                    20|        84|         5|       38|      150|        12|               28|                 2|                 4|                   1|                  6|                     7|           nao|           nao|           nao|           nao|           nao|       nao|
| 18|6565|          1949|          Mestrado|       Casado|    76995.0|          0|              1|          2013-03-28|                    91|      1012|        80|      498|        0|        16|              176|                 2|                11|                   4|                  9|                     5|           nao|           nao|           nao|           sim|           nao|       nao|
| 19|2278|          1985|         Mestrando|     Solteiro|    33812.0|          1|              0|          2012-11-03|                    86|         4|        17|       19|       30|        24|               39|                 2|                 2|                   1|                  3|                     6|           nao|           nao|           nao|           nao|           nao|       nao|
+---+----+--------------+------------------+-------------+-----------+-----------+---------------+--------------------+----------------------+----------+----------+---------+---------+----------+-----------------+------------------+------------------+--------------------+-------------------+----------------------+--------------+--------------+--------------+--------------+--------------+----------+
only showing top 20 rows

### **2 - Verificar a existência de dados inconsistentes, nulos e realizar a limpeza.**

Os dados utilizados formam tratados na etapa 1 - pandas.

### **3 - Verificar a existência de dados inconsistentes, nulos e realizar a limpeza.**

Os dados formam tratados na etapa 1 - pandas.

### **4 - Realizar a mudança de nome de pelo menos 2 colunas**

In [57]:
# Modifica o id e a primeira_data_compra
df=df.withColumnRenamed("id", "identificacao").withColumnRenamed("primeira_data_compra", "data_primeira_compra")

In [58]:
df.show()  # visualizar dataframe

+---+-------------+--------------+------------------+-------------+-----------+-----------+---------------+--------------------+----------------------+----------+----------+---------+---------+----------+-----------------+------------------+------------------+--------------------+-------------------+----------------------+--------------+--------------+--------------+--------------+--------------+----------+
|   |identificacao|ano_nascimento|          educacao| estado_civil|renda_anual|qtd_crianca|qtd_adolescente|data_primeira_compra|dias_desde_ult_compras|qtd_vinhos|qtd_frutas|qtd_carne|qtd_peixe|guloseimas|qtd_produtos_gold|qtd_ofertas_compra|qtd_compras_online|qtd_compras_catalogo|qtd_compras_na_loja|qtd_visitas_online_mes|oferta_aceita1|oferta_aceita2|oferta_aceita3|oferta_aceita4|oferta_aceita5|reclamacao|
+---+-------------+--------------+------------------+-------------+-----------+-----------+---------------+--------------------+----------------------+----------+----------+---------+---------+----------+-----------------+------------------+------------------+--------------------+-------------------+----------------------+--------------+--------------+--------------+--------------+--------------+----------+
|  0|         5524|          1957|          Graduado|     Solteiro|    58138.0|          0|              0|          2012-09-04|                    58|       635|        88|      546|      172|        88|               88|                 3|                 8|                  10|                  4|                     7|           nao|           nao|           nao|           nao|           nao|       nao|
|  1|         2174|          1954|          Graduado|     Solteiro|    46344.0|          1|              1|          2014-03-08|                    38|        11|         1|        6|        2|         1|                6|                 2|                 1|                   1|                  2|                     5|           nao|           nao|           nao|           nao|           nao|       nao|
|  2|         4141|          1965|          Graduado|Uniao_estavel|    71613.0|          0|              0|          2013-08-21|                    26|       426|        49|      127|      111|        21|               42|                 1|                 8|                   2|                 10|                     4|           nao|           nao|           nao|           nao|           nao|       nao|
|  3|         6182|          1984|          Graduado|Uniao_estavel|    26646.0|          1|              0|          2014-02-10|                    26|        11|         4|       20|       10|         3|                5|                 2|                 2|                   0|                  4|                     6|           nao|           nao|           nao|           nao|           nao|       nao|
|  4|         5324|          1981|         Doutorado|       Casado|    58293.0|          1|              0|          2014-01-19|                    94|       173|        43|      118|       46|        27|               15|                 5|                 5|                   3|                  6|                     5|           nao|           nao|           nao|           nao|           nao|       nao|
|  5|         7446|          1967|          Mestrado|Uniao_estavel|    62513.0|          0|              1|          2013-09-09|                    16|       520|        42|       98|        0|        42|               14|                 2|                 6|                   4|                 10|                     6|           nao|           nao|           nao|           nao|           nao|       nao|
|  6|          965|          1971|          Graduado|   Divorciado|    55635.0|          0|              1|          2012-11-13|                    34|       235|        65|      164|       50|        49|               27|                 4|                 7|                   3|                  7|                     6|           nao|           nao|           nao|           nao|           nao|       nao|
|  7|         6177|          1985|         Doutorado|       Casado|    33454.0|          1|              0|          2013-05-08|                    32|        76|        10|       56|        3|         1|               23|                 2|                 4|                   0|                  4|                     8|           nao|           nao|           nao|           nao|           nao|       nao|
|  8|         4855|          1974|         Doutorado|Uniao_estavel|    30351.0|          1|              0|          2013-06-06|                    19|        14|         0|       24|        3|         3|                2|                 1|                 3|                   0|                  2|                     9|           nao|           nao|           nao|           nao|           nao|       nao|
|  9|         5899|          1950|         Doutorado|Uniao_estavel|     5648.0|          1|              1|          2014-03-13|                    68|        28|         0|        6|        1|         1|               13|                 1|                 1|                   0|                  0|                    20|           sim|           nao|           nao|           nao|           nao|       nao|
| 10|         1994|          1983|          Graduado|       Casado|   52247.25|          1|              0|          2013-11-15|                    11|         5|         5|        6|        0|         2|                1|                 1|                 1|                   0|                  2|                     7|           nao|           nao|           nao|           nao|           nao|       nao|
| 11|          387|          1976|Ensino_fundamental|       Casado|     7500.0|          0|              0|          2012-11-13|                    59|         6|        16|       11|       11|         1|               16|                 1|                 2|                   0|                  3|                     8|           nao|           nao|           nao|           nao|           nao|       nao|
| 12|         2125|          1959|          Graduado|   Divorciado|    63033.0|          0|              0|          2013-11-15|                    82|       194|        61|      480|      225|       112|               30|                 1|                 3|                   4|                  8|                     2|           nao|           nao|           nao|           nao|           nao|       nao|
| 13|         8180|          1952|          Mestrado|   Divorciado|    59354.0|          1|              1|          2013-11-15|                    53|       233|         2|       53|        3|         5|               14|                 3|                 6|                   1|                  5|                     6|           nao|           nao|           nao|           nao|           nao|       nao|
| 14|         2569|          1987|          Graduado|       Casado|    17323.0|          0|              0|          2012-10-10|                    38|         3|        14|       17|        6|         1|                5|                 1|                 1|                   0|                  3|                     8|           nao|           nao|           nao|           nao|           nao|       nao|
| 15|         2114|          1946|         Doutorado|     Solteiro|    82800.0|          0|              0|          2012-11-24|                    23|      1006|        22|      115|       59|        68|               45|                 1|                 7|                   6|                 12|                     3|           nao|           nao|           sim|           sim|           nao|       nao|
| 16|         9736|          1980|          Graduado|       Casado|    41850.0|          1|              1|          2012-12-24|                    51|        53|         5|       19|        2|        13|                4|                 3|                 3|                   0|                  3|                     8|           nao|           nao|           nao|           nao|           nao|       nao|
| 17|         4939|          1946|          Graduado|Uniao_estavel|    37760.0|          0|              0|          2012-08-31|                    20|        84|         5|       38|      150|        12|               28|                 2|                 4|                   1|                  6|                     7|           nao|           nao|           nao|           nao|           nao|       nao|
| 18|         6565|          1949|          Mestrado|       Casado|    76995.0|          0|              1|          2013-03-28|                    91|      1012|        80|      498|        0|        16|              176|                 2|                11|                   4|                  9|                     5|           nao|           nao|           nao|           sim|           nao|       nao|
| 19|         2278|          1985|         Mestrando|     Solteiro|    33812.0|          1|              0|          2012-11-03|                    86|         4|        17|       19|       30|        24|               39|                 2|                 2|                   1|                  3|                     6|           nao|           nao|           nao|           nao|           nao|       nao|
+---+-------------+--------------+------------------+-------------+-----------+-----------+---------------+--------------------+----------------------+----------+----------+---------+---------+----------+-----------------+------------------+------------------+--------------------+-------------------+----------------------+--------------+--------------+--------------+--------------+--------------+----------+
only showing top 20 rows

**5 - Deverá criar pelo menos duas novas colunas contendo alguma informação relevante sobre as outras colunas já existentes (Funções de Agrupamento, Agregação ou Joins).**

In [59]:
# Inserção de columa relacionamento classificação: Ótimo ou Frequente.
df1 = (df.withColumn("Relacionamento", 
       F.when(F.col("qtd_compras_online") > F.col("qtd_visitas_online_mes"), F.lit("Otimo"))
        .otherwise("Frequente")))

In [60]:
df1.show()  # Visualização na coluna Relacionamento

+---+-------------+--------------+------------------+-------------+-----------+-----------+---------------+--------------------+----------------------+----------+----------+---------+---------+----------+-----------------+------------------+------------------+--------------------+-------------------+----------------------+--------------+--------------+--------------+--------------+--------------+----------+--------------+
|   |identificacao|ano_nascimento|          educacao| estado_civil|renda_anual|qtd_crianca|qtd_adolescente|data_primeira_compra|dias_desde_ult_compras|qtd_vinhos|qtd_frutas|qtd_carne|qtd_peixe|guloseimas|qtd_produtos_gold|qtd_ofertas_compra|qtd_compras_online|qtd_compras_catalogo|qtd_compras_na_loja|qtd_visitas_online_mes|oferta_aceita1|oferta_aceita2|oferta_aceita3|oferta_aceita4|oferta_aceita5|reclamacao|Relacionamento|
+---+-------------+--------------+------------------+-------------+-----------+-----------+---------------+--------------------+----------------------+----------+----------+---------+---------+----------+-----------------+------------------+------------------+--------------------+-------------------+----------------------+--------------+--------------+--------------+--------------+--------------+----------+--------------+
|  0|         5524|          1957|          Graduado|     Solteiro|    58138.0|          0|              0|          2012-09-04|                    58|       635|        88|      546|      172|        88|               88|                 3|                 8|                  10|                  4|                     7|           nao|           nao|           nao|           nao|           nao|       nao|         Otimo|
|  1|         2174|          1954|          Graduado|     Solteiro|    46344.0|          1|              1|          2014-03-08|                    38|        11|         1|        6|        2|         1|                6|                 2|                 1|                   1|                  2|                     5|           nao|           nao|           nao|           nao|           nao|       nao|     Frequente|
|  2|         4141|          1965|          Graduado|Uniao_estavel|    71613.0|          0|              0|          2013-08-21|                    26|       426|        49|      127|      111|        21|               42|                 1|                 8|                   2|                 10|                     4|           nao|           nao|           nao|           nao|           nao|       nao|         Otimo|
|  3|         6182|          1984|          Graduado|Uniao_estavel|    26646.0|          1|              0|          2014-02-10|                    26|        11|         4|       20|       10|         3|                5|                 2|                 2|                   0|                  4|                     6|           nao|           nao|           nao|           nao|           nao|       nao|     Frequente|
|  4|         5324|          1981|         Doutorado|       Casado|    58293.0|          1|              0|          2014-01-19|                    94|       173|        43|      118|       46|        27|               15|                 5|                 5|                   3|                  6|                     5|           nao|           nao|           nao|           nao|           nao|       nao|     Frequente|
|  5|         7446|          1967|          Mestrado|Uniao_estavel|    62513.0|          0|              1|          2013-09-09|                    16|       520|        42|       98|        0|        42|               14|                 2|                 6|                   4|                 10|                     6|           nao|           nao|           nao|           nao|           nao|       nao|     Frequente|
|  6|          965|          1971|          Graduado|   Divorciado|    55635.0|          0|              1|          2012-11-13|                    34|       235|        65|      164|       50|        49|               27|                 4|                 7|                   3|                  7|                     6|           nao|           nao|           nao|           nao|           nao|       nao|         Otimo|
|  7|         6177|          1985|         Doutorado|       Casado|    33454.0|          1|              0|          2013-05-08|                    32|        76|        10|       56|        3|         1|               23|                 2|                 4|                   0|                  4|                     8|           nao|           nao|           nao|           nao|           nao|       nao|     Frequente|
|  8|         4855|          1974|         Doutorado|Uniao_estavel|    30351.0|          1|              0|          2013-06-06|                    19|        14|         0|       24|        3|         3|                2|                 1|                 3|                   0|                  2|                     9|           nao|           nao|           nao|           nao|           nao|       nao|     Frequente|
|  9|         5899|          1950|         Doutorado|Uniao_estavel|     5648.0|          1|              1|          2014-03-13|                    68|        28|         0|        6|        1|         1|               13|                 1|                 1|                   0|                  0|                    20|           sim|           nao|           nao|           nao|           nao|       nao|     Frequente|
| 10|         1994|          1983|          Graduado|       Casado|   52247.25|          1|              0|          2013-11-15|                    11|         5|         5|        6|        0|         2|                1|                 1|                 1|                   0|                  2|                     7|           nao|           nao|           nao|           nao|           nao|       nao|     Frequente|
| 11|          387|          1976|Ensino_fundamental|       Casado|     7500.0|          0|              0|          2012-11-13|                    59|         6|        16|       11|       11|         1|               16|                 1|                 2|                   0|                  3|                     8|           nao|           nao|           nao|           nao|           nao|       nao|     Frequente|
| 12|         2125|          1959|          Graduado|   Divorciado|    63033.0|          0|              0|          2013-11-15|                    82|       194|        61|      480|      225|       112|               30|                 1|                 3|                   4|                  8|                     2|           nao|           nao|           nao|           nao|           nao|       nao|         Otimo|
| 13|         8180|          1952|          Mestrado|   Divorciado|    59354.0|          1|              1|          2013-11-15|                    53|       233|         2|       53|        3|         5|               14|                 3|                 6|                   1|                  5|                     6|           nao|           nao|           nao|           nao|           nao|       nao|     Frequente|
| 14|         2569|          1987|          Graduado|       Casado|    17323.0|          0|              0|          2012-10-10|                    38|         3|        14|       17|        6|         1|                5|                 1|                 1|                   0|                  3|                     8|           nao|           nao|           nao|           nao|           nao|       nao|     Frequente|
| 15|         2114|          1946|         Doutorado|     Solteiro|    82800.0|          0|              0|          2012-11-24|                    23|      1006|        22|      115|       59|        68|               45|                 1|                 7|                   6|                 12|                     3|           nao|           nao|           sim|           sim|           nao|       nao|         Otimo|
| 16|         9736|          1980|          Graduado|       Casado|    41850.0|          1|              1|          2012-12-24|                    51|        53|         5|       19|        2|        13|                4|                 3|                 3|                   0|                  3|                     8|           nao|           nao|           nao|           nao|           nao|       nao|     Frequente|
| 17|         4939|          1946|          Graduado|Uniao_estavel|    37760.0|          0|              0|          2012-08-31|                    20|        84|         5|       38|      150|        12|               28|                 2|                 4|                   1|                  6|                     7|           nao|           nao|           nao|           nao|           nao|       nao|     Frequente|
| 18|         6565|          1949|          Mestrado|       Casado|    76995.0|          0|              1|          2013-03-28|                    91|      1012|        80|      498|        0|        16|              176|                 2|                11|                   4|                  9|                     5|           nao|           nao|           nao|           sim|           nao|       nao|         Otimo|
| 19|         2278|          1985|         Mestrando|     Solteiro|    33812.0|          1|              0|          2012-11-03|                    86|         4|        17|       19|       30|        24|               39|                 2|                 2|                   1|                  3|                     6|           nao|           nao|           nao|           nao|           nao|       nao|     Frequente|
+---+-------------+--------------+------------------+-------------+-----------+-----------+---------------+--------------------+----------------------+----------+----------+---------+---------+----------+-----------------+------------------+------------------+--------------------+-------------------+----------------------+--------------+--------------+--------------+--------------+--------------+----------+--------------+
only showing top 20 rows

In [61]:
# Classifica clientes e visitantes em compras online
df2 = (df1.withColumn("Clientela", 
       F.when(F.col("qtd_compras_online") > 0, F.lit("Cliente"))
        .otherwise("Visitante")))

In [63]:
df2.show()  # Visualização na coluna Clientela

+---+-------------+--------------+------------------+-------------+-----------+-----------+---------------+--------------------+----------------------+----------+----------+---------+---------+----------+-----------------+------------------+------------------+--------------------+-------------------+----------------------+--------------+--------------+--------------+--------------+--------------+----------+--------------+---------+
|   |identificacao|ano_nascimento|          educacao| estado_civil|renda_anual|qtd_crianca|qtd_adolescente|data_primeira_compra|dias_desde_ult_compras|qtd_vinhos|qtd_frutas|qtd_carne|qtd_peixe|guloseimas|qtd_produtos_gold|qtd_ofertas_compra|qtd_compras_online|qtd_compras_catalogo|qtd_compras_na_loja|qtd_visitas_online_mes|oferta_aceita1|oferta_aceita2|oferta_aceita3|oferta_aceita4|oferta_aceita5|reclamacao|Relacionamento|Clientela|
+---+-------------+--------------+------------------+-------------+-----------+-----------+---------------+--------------------+----------------------+----------+----------+---------+---------+----------+-----------------+------------------+------------------+--------------------+-------------------+----------------------+--------------+--------------+--------------+--------------+--------------+----------+--------------+---------+
|  0|         5524|          1957|          Graduado|     Solteiro|    58138.0|          0|              0|          2012-09-04|                    58|       635|        88|      546|      172|        88|               88|                 3|                 8|                  10|                  4|                     7|           nao|           nao|           nao|           nao|           nao|       nao|         Otimo|  Cliente|
|  1|         2174|          1954|          Graduado|     Solteiro|    46344.0|          1|              1|          2014-03-08|                    38|        11|         1|        6|        2|         1|                6|                 2|                 1|                   1|                  2|                     5|           nao|           nao|           nao|           nao|           nao|       nao|     Frequente|  Cliente|
|  2|         4141|          1965|          Graduado|Uniao_estavel|    71613.0|          0|              0|          2013-08-21|                    26|       426|        49|      127|      111|        21|               42|                 1|                 8|                   2|                 10|                     4|           nao|           nao|           nao|           nao|           nao|       nao|         Otimo|  Cliente|
|  3|         6182|          1984|          Graduado|Uniao_estavel|    26646.0|          1|              0|          2014-02-10|                    26|        11|         4|       20|       10|         3|                5|                 2|                 2|                   0|                  4|                     6|           nao|           nao|           nao|           nao|           nao|       nao|     Frequente|  Cliente|
|  4|         5324|          1981|         Doutorado|       Casado|    58293.0|          1|              0|          2014-01-19|                    94|       173|        43|      118|       46|        27|               15|                 5|                 5|                   3|                  6|                     5|           nao|           nao|           nao|           nao|           nao|       nao|     Frequente|  Cliente|
|  5|         7446|          1967|          Mestrado|Uniao_estavel|    62513.0|          0|              1|          2013-09-09|                    16|       520|        42|       98|        0|        42|               14|                 2|                 6|                   4|                 10|                     6|           nao|           nao|           nao|           nao|           nao|       nao|     Frequente|  Cliente|
|  6|          965|          1971|          Graduado|   Divorciado|    55635.0|          0|              1|          2012-11-13|                    34|       235|        65|      164|       50|        49|               27|                 4|                 7|                   3|                  7|                     6|           nao|           nao|           nao|           nao|           nao|       nao|         Otimo|  Cliente|
|  7|         6177|          1985|         Doutorado|       Casado|    33454.0|          1|              0|          2013-05-08|                    32|        76|        10|       56|        3|         1|               23|                 2|                 4|                   0|                  4|                     8|           nao|           nao|           nao|           nao|           nao|       nao|     Frequente|  Cliente|
|  8|         4855|          1974|         Doutorado|Uniao_estavel|    30351.0|          1|              0|          2013-06-06|                    19|        14|         0|       24|        3|         3|                2|                 1|                 3|                   0|                  2|                     9|           nao|           nao|           nao|           nao|           nao|       nao|     Frequente|  Cliente|
|  9|         5899|          1950|         Doutorado|Uniao_estavel|     5648.0|          1|              1|          2014-03-13|                    68|        28|         0|        6|        1|         1|               13|                 1|                 1|                   0|                  0|                    20|           sim|           nao|           nao|           nao|           nao|       nao|     Frequente|  Cliente|
| 10|         1994|          1983|          Graduado|       Casado|   52247.25|          1|              0|          2013-11-15|                    11|         5|         5|        6|        0|         2|                1|                 1|                 1|                   0|                  2|                     7|           nao|           nao|           nao|           nao|           nao|       nao|     Frequente|  Cliente|
| 11|          387|          1976|Ensino_fundamental|       Casado|     7500.0|          0|              0|          2012-11-13|                    59|         6|        16|       11|       11|         1|               16|                 1|                 2|                   0|                  3|                     8|           nao|           nao|           nao|           nao|           nao|       nao|     Frequente|  Cliente|
| 12|         2125|          1959|          Graduado|   Divorciado|    63033.0|          0|              0|          2013-11-15|                    82|       194|        61|      480|      225|       112|               30|                 1|                 3|                   4|                  8|                     2|           nao|           nao|           nao|           nao|           nao|       nao|         Otimo|  Cliente|
| 13|         8180|          1952|          Mestrado|   Divorciado|    59354.0|          1|              1|          2013-11-15|                    53|       233|         2|       53|        3|         5|               14|                 3|                 6|                   1|                  5|                     6|           nao|           nao|           nao|           nao|           nao|       nao|     Frequente|  Cliente|
| 14|         2569|          1987|          Graduado|       Casado|    17323.0|          0|              0|          2012-10-10|                    38|         3|        14|       17|        6|         1|                5|                 1|                 1|                   0|                  3|                     8|           nao|           nao|           nao|           nao|           nao|       nao|     Frequente|  Cliente|
| 15|         2114|          1946|         Doutorado|     Solteiro|    82800.0|          0|              0|          2012-11-24|                    23|      1006|        22|      115|       59|        68|               45|                 1|                 7|                   6|                 12|                     3|           nao|           nao|           sim|           sim|           nao|       nao|         Otimo|  Cliente|
| 16|         9736|          1980|          Graduado|       Casado|    41850.0|          1|              1|          2012-12-24|                    51|        53|         5|       19|        2|        13|                4|                 3|                 3|                   0|                  3|                     8|           nao|           nao|           nao|           nao|           nao|       nao|     Frequente|  Cliente|
| 17|         4939|          1946|          Graduado|Uniao_estavel|    37760.0|          0|              0|          2012-08-31|                    20|        84|         5|       38|      150|        12|               28|                 2|                 4|                   1|                  6|                     7|           nao|           nao|           nao|           nao|           nao|       nao|     Frequente|  Cliente|
| 18|         6565|          1949|          Mestrado|       Casado|    76995.0|          0|              1|          2013-03-28|                    91|      1012|        80|      498|        0|        16|              176|                 2|                11|                   4|                  9|                     5|           nao|           nao|           nao|           sim|           nao|       nao|         Otimo|  Cliente|
| 19|         2278|          1985|         Mestrando|     Solteiro|    33812.0|          1|              0|          2012-11-03|                    86|         4|        17|       19|       30|        24|               39|                 2|                 2|                   1|                  3|                     6|           nao|           nao|           nao|           nao|           nao|       nao|     Frequente|  Cliente|
+---+-------------+--------------+------------------+-------------+-----------+-----------+---------------+--------------------+----------------------+----------+----------+---------+---------+----------+-----------------+------------------+------------------+--------------------+-------------------+----------------------+--------------+--------------+--------------+--------------+--------------+----------+--------------+---------+
only showing top 20 rows

In [66]:
# Soma a quantidade de compras online e presencial do cliente
df2 = df2.withColumn("compras_total", F.col("qtd_compras_online") + F.col("qtd_compras_na_loja"))

In [67]:
df2.show()  # Visualização na coluna compras_total

+---+-------------+--------------+------------------+-------------+-----------+-----------+---------------+--------------------+----------------------+----------+----------+---------+---------+----------+-----------------+------------------+------------------+--------------------+-------------------+----------------------+--------------+--------------+--------------+--------------+--------------+----------+--------------+---------+-------------+
|   |identificacao|ano_nascimento|          educacao| estado_civil|renda_anual|qtd_crianca|qtd_adolescente|data_primeira_compra|dias_desde_ult_compras|qtd_vinhos|qtd_frutas|qtd_carne|qtd_peixe|guloseimas|qtd_produtos_gold|qtd_ofertas_compra|qtd_compras_online|qtd_compras_catalogo|qtd_compras_na_loja|qtd_visitas_online_mes|oferta_aceita1|oferta_aceita2|oferta_aceita3|oferta_aceita4|oferta_aceita5|reclamacao|Relacionamento|Clientela|compras_total|
+---+-------------+--------------+------------------+-------------+-----------+-----------+---------------+--------------------+----------------------+----------+----------+---------+---------+----------+-----------------+------------------+------------------+--------------------+-------------------+----------------------+--------------+--------------+--------------+--------------+--------------+----------+--------------+---------+-------------+
|  0|         5524|          1957|          Graduado|     Solteiro|    58138.0|          0|              0|          2012-09-04|                    58|       635|        88|      546|      172|        88|               88|                 3|                 8|                  10|                  4|                     7|           nao|           nao|           nao|           nao|           nao|       nao|         Otimo|  Cliente|           12|
|  1|         2174|          1954|          Graduado|     Solteiro|    46344.0|          1|              1|          2014-03-08|                    38|        11|         1|        6|        2|         1|                6|                 2|                 1|                   1|                  2|                     5|           nao|           nao|           nao|           nao|           nao|       nao|     Frequente|  Cliente|            3|
|  2|         4141|          1965|          Graduado|Uniao_estavel|    71613.0|          0|              0|          2013-08-21|                    26|       426|        49|      127|      111|        21|               42|                 1|                 8|                   2|                 10|                     4|           nao|           nao|           nao|           nao|           nao|       nao|         Otimo|  Cliente|           18|
|  3|         6182|          1984|          Graduado|Uniao_estavel|    26646.0|          1|              0|          2014-02-10|                    26|        11|         4|       20|       10|         3|                5|                 2|                 2|                   0|                  4|                     6|           nao|           nao|           nao|           nao|           nao|       nao|     Frequente|  Cliente|            6|
|  4|         5324|          1981|         Doutorado|       Casado|    58293.0|          1|              0|          2014-01-19|                    94|       173|        43|      118|       46|        27|               15|                 5|                 5|                   3|                  6|                     5|           nao|           nao|           nao|           nao|           nao|       nao|     Frequente|  Cliente|           11|
|  5|         7446|          1967|          Mestrado|Uniao_estavel|    62513.0|          0|              1|          2013-09-09|                    16|       520|        42|       98|        0|        42|               14|                 2|                 6|                   4|                 10|                     6|           nao|           nao|           nao|           nao|           nao|       nao|     Frequente|  Cliente|           16|
|  6|          965|          1971|          Graduado|   Divorciado|    55635.0|          0|              1|          2012-11-13|                    34|       235|        65|      164|       50|        49|               27|                 4|                 7|                   3|                  7|                     6|           nao|           nao|           nao|           nao|           nao|       nao|         Otimo|  Cliente|           14|
|  7|         6177|          1985|         Doutorado|       Casado|    33454.0|          1|              0|          2013-05-08|                    32|        76|        10|       56|        3|         1|               23|                 2|                 4|                   0|                  4|                     8|           nao|           nao|           nao|           nao|           nao|       nao|     Frequente|  Cliente|            8|
|  8|         4855|          1974|         Doutorado|Uniao_estavel|    30351.0|          1|              0|          2013-06-06|                    19|        14|         0|       24|        3|         3|                2|                 1|                 3|                   0|                  2|                     9|           nao|           nao|           nao|           nao|           nao|       nao|     Frequente|  Cliente|            5|
|  9|         5899|          1950|         Doutorado|Uniao_estavel|     5648.0|          1|              1|          2014-03-13|                    68|        28|         0|        6|        1|         1|               13|                 1|                 1|                   0|                  0|                    20|           sim|           nao|           nao|           nao|           nao|       nao|     Frequente|  Cliente|            1|
| 10|         1994|          1983|          Graduado|       Casado|   52247.25|          1|              0|          2013-11-15|                    11|         5|         5|        6|        0|         2|                1|                 1|                 1|                   0|                  2|                     7|           nao|           nao|           nao|           nao|           nao|       nao|     Frequente|  Cliente|            3|
| 11|          387|          1976|Ensino_fundamental|       Casado|     7500.0|          0|              0|          2012-11-13|                    59|         6|        16|       11|       11|         1|               16|                 1|                 2|                   0|                  3|                     8|           nao|           nao|           nao|           nao|           nao|       nao|     Frequente|  Cliente|            5|
| 12|         2125|          1959|          Graduado|   Divorciado|    63033.0|          0|              0|          2013-11-15|                    82|       194|        61|      480|      225|       112|               30|                 1|                 3|                   4|                  8|                     2|           nao|           nao|           nao|           nao|           nao|       nao|         Otimo|  Cliente|           11|
| 13|         8180|          1952|          Mestrado|   Divorciado|    59354.0|          1|              1|          2013-11-15|                    53|       233|         2|       53|        3|         5|               14|                 3|                 6|                   1|                  5|                     6|           nao|           nao|           nao|           nao|           nao|       nao|     Frequente|  Cliente|           11|
| 14|         2569|          1987|          Graduado|       Casado|    17323.0|          0|              0|          2012-10-10|                    38|         3|        14|       17|        6|         1|                5|                 1|                 1|                   0|                  3|                     8|           nao|           nao|           nao|           nao|           nao|       nao|     Frequente|  Cliente|            4|
| 15|         2114|          1946|         Doutorado|     Solteiro|    82800.0|          0|              0|          2012-11-24|                    23|      1006|        22|      115|       59|        68|               45|                 1|                 7|                   6|                 12|                     3|           nao|           nao|           sim|           sim|           nao|       nao|         Otimo|  Cliente|           19|
| 16|         9736|          1980|          Graduado|       Casado|    41850.0|          1|              1|          2012-12-24|                    51|        53|         5|       19|        2|        13|                4|                 3|                 3|                   0|                  3|                     8|           nao|           nao|           nao|           nao|           nao|       nao|     Frequente|  Cliente|            6|
| 17|         4939|          1946|          Graduado|Uniao_estavel|    37760.0|          0|              0|          2012-08-31|                    20|        84|         5|       38|      150|        12|               28|                 2|                 4|                   1|                  6|                     7|           nao|           nao|           nao|           nao|           nao|       nao|     Frequente|  Cliente|           10|
| 18|         6565|          1949|          Mestrado|       Casado|    76995.0|          0|              1|          2013-03-28|                    91|      1012|        80|      498|        0|        16|              176|                 2|                11|                   4|                  9|                     5|           nao|           nao|           nao|           sim|           nao|       nao|         Otimo|  Cliente|           20|
| 19|         2278|          1985|         Mestrando|     Solteiro|    33812.0|          1|              0|          2012-11-03|                    86|         4|        17|       19|       30|        24|               39|                 2|                 2|                   1|                  3|                     6|           nao|           nao|           nao|           nao|           nao|       nao|     Frequente|  Cliente|            5|
+---+-------------+--------------+------------------+-------------+-----------+-----------+---------------+--------------------+----------------------+----------+----------+---------+---------+----------+-----------------+------------------+------------------+--------------------+-------------------+----------------------+--------------+--------------+--------------+--------------+--------------+----------+--------------+---------+-------------+
only showing top 20 rows

In [77]:
# Dataframe grupos de clientes por educação e estado  civil
df2.groupby(F.col("educacao"), F.col("estado_civil")).count().show(50)

+------------------+-------------+-----+
|          educacao| estado_civil|count|
+------------------+-------------+-----+
|Ensino_fundamental|Uniao_estavel|   14|
|Ensino_fundamental|     Solteiro|   18|
|Ensino_fundamental|   Divorciado|    1|
|          Graduado|     Solteiro|  252|
|         Mestrando|     Solteiro|   37|
|         Mestrando|       Casado|   81|
|          Mestrado|   Divorciado|   37|
|         Mestrando|   Divorciado|   23|
|         Doutorado|Uniao_estavel|  117|
|          Graduado|       Inapto|    1|
|          Mestrado|        Viuvo|   12|
|          Mestrado|       Casado|  138|
|          Graduado|Uniao_estavel|  286|
|         Mestrando|        Viuvo|    5|
|          Mestrado| Mora_sozinho|    1|
|         Doutorado| Mora_sozinho|    1|
|          Graduado|       Casado|  433|
|          Mestrado|     Solteiro|   75|
|          Mestrado|Uniao_estavel|  106|
|         Doutorado|     Solteiro|   98|
|Ensino_fundamental|        Viuvo|    1|
|          Mestrado|       Inapto|    1|
|         Doutorado|        Viuvo|   24|
|          Graduado| Mora_sozinho|    1|
|          Graduado|   Divorciado|  119|
|Ensino_fundamental|       Casado|   20|
|         Doutorado|       Casado|  192|
|         Doutorado|  Vive-a-vida|    2|
|         Mestrando|Uniao_estavel|   57|
|          Graduado|        Viuvo|   35|
|         Doutorado|   Divorciado|   52|
+------------------+-------------+-----+

**6 - Deverá utilizar filtros, ordenação e agrupamento, trazendo dados relevantes para o negócio em questão.**

In [78]:
# Tabela com infomações de clientes que reclamaram
df2.select(F.col("identificacao"), F.col("educacao"), F.col("estado_civil"), F.col("compras_total")).filter(F.col("reclamacao") == "sim").show()

+-------------+---------+-------------+-------------+
|identificacao| educacao| estado_civil|compras_total|
+-------------+---------+-------------+-------------+
|        10401|Mestrando|Uniao_estavel|            3|
|         3120| Graduado|Uniao_estavel|            3|
|         7829|Mestrando|   Divorciado|            4|
|         5726| Mestrado|     Solteiro|            7|
|         6201| Graduado|     Solteiro|            5|
|         6142| Mestrado|       Casado|           10|
|         3710|Doutorado|     Solteiro|            4|
|        10995|Mestrando|       Casado|            7|
|         6730| Graduado|       Casado|            5|
|         2875| Graduado|       Casado|           16|
|          359| Graduado|Uniao_estavel|           14|
|         9500| Graduado|       Casado|           17|
|         7192| Graduado|Uniao_estavel|           12|
|        10637| Graduado|       Casado|            6|
|        10971| Graduado|     Solteiro|           10|
|         9483| Graduado|Uniao_estavel|           12|
|         9916| Graduado|       Casado|            5|
|         6742| Graduado|       Casado|            3|
|         4427|Mestrando|     Solteiro|           17|
|         7966| Graduado|     Solteiro|           22|
+-------------+---------+-------------+-------------+
only showing top 20 rows

In [79]:
# Conta numeros de reclamações

df2.select(F.col("identificacao"), F.col("educacao"), F.col("estado_civil"), F.col("compras_total")).filter(F.col("reclamacao") == "sim").count()

21

In [80]:
# Quantidade de Clientes que não possuem filhos: Crianças ou adolecentes

filtro1 = F.col("qtd_crianca") == 0
filtro2 = F.col("qtd_adolescente") == 0

df2.select(F.col("qtd_crianca"),
           F.col("qtd_adolescente")).filter(filtro1 & filtro2).count()

638

**7 - Utilizar pelo menos duas Window Functions.**

In [81]:
df2.select(F.col("identificacao"),
           F.col("dias_desde_ult_compras"), F.col("renda_anual")).orderBy(F.col("dias_desde_ult_compras").desc()).show()

+-------------+----------------------+-----------+
|identificacao|dias_desde_ult_compras|renda_anual|
+-------------+----------------------+-----------+
|          868|                    99|    44794.0|
|         7829|                    99|    36640.0|
|         7232|                    99|    42429.0|
|        10142|                    99|    66476.0|
|         9977|                    99|    78901.0|
|         8595|                    99|    42429.0|
|         7947|                    99|    42231.0|
|         5263|                    99|    31056.0|
|         3363|                    99|    20130.0|
|         4070|                    99|    94871.0|
|         2831|                    99|    78416.0|
|         2415|                    99|    62568.0|
|         1743|                    99|    69719.0|
|         7212|                    99|    44794.0|
|         2106|                    99|    20130.0|
|          528|                    99|    65819.0|
|           22|                    99|    46310.0|
|         2320|                    98|    47025.0|
|          213|                    98|    23091.0|
|         6722|                    98|    70421.0|
+-------------+----------------------+-----------+
only showing top 20 rows

In [82]:
w0 = Window.partitionBy(F.col("ano_nascimento")).orderBy("renda_anual")
df2.withColumn("valor_referencia", F.row_number().over(w0)).show()

+----+-------------+--------------+---------+-------------+-----------+-----------+---------------+--------------------+----------------------+----------+----------+---------+---------+----------+-----------------+------------------+------------------+--------------------+-------------------+----------------------+--------------+--------------+--------------+--------------+--------------+----------+--------------+---------+-------------+----------------+
|    |identificacao|ano_nascimento| educacao| estado_civil|renda_anual|qtd_crianca|qtd_adolescente|data_primeira_compra|dias_desde_ult_compras|qtd_vinhos|qtd_frutas|qtd_carne|qtd_peixe|guloseimas|qtd_produtos_gold|qtd_ofertas_compra|qtd_compras_online|qtd_compras_catalogo|qtd_compras_na_loja|qtd_visitas_online_mes|oferta_aceita1|oferta_aceita2|oferta_aceita3|oferta_aceita4|oferta_aceita5|reclamacao|Relacionamento|Clientela|compras_total|valor_referencia|
+----+-------------+--------------+---------+-------------+-----------+-----------+---------------+--------------------+----------------------+----------+----------+---------+---------+----------+-----------------+------------------+------------------+--------------------+-------------------+----------------------+--------------+--------------+--------------+--------------+--------------+----------+--------------+---------+-------------+----------------+
| 239|        11004|          1893|Mestrando|     Solteiro|    60182.0|          0|              1|          2014-05-17|                    23|         8|         0|        5|        7|         0|                2|                 1|                 1|                   0|                  2|                     4|           nao|           nao|           nao|           nao|           nao|       nao|     Frequente|  Cliente|            3|               1|
| 339|         1150|          1899|Doutorado|Uniao_estavel|    83532.0|          0|              0|          2013-09-26|                    36|       755|       144|      562|      104|        64|              224|                 1|                 4|                   6|                  4|                     1|           nao|           nao|           sim|           nao|           nao|       nao|         Otimo|  Cliente|            8|               1|
| 192|         7829|          1900|Mestrando|   Divorciado|    36640.0|          1|              0|          2013-09-26|                    99|        15|         6|        8|        7|         4|               25|                 1|                 2|                   1|                  2|                     5|           nao|           nao|           nao|           nao|           nao|       sim|     Frequente|  Cliente|            4|               1|
|1950|         6663|          1940|Doutorado|     Solteiro|    51141.0|          0|              0|          2013-07-08|                    96|       144|         0|        7|        0|         0|                6|                 1|                 3|                   1|                  4|                     5|           nao|           nao|           nao|           nao|           nao|       nao|     Frequente|  Cliente|            7|               1|
| 424|         6932|          1941|Doutorado|       Casado|    93027.0|          0|              0|          2013-04-13|                    77|      1285|        42|      716|       55|         0|               21|                 0|                 7|                  10|                  5|                     2|           nao|           nao|           sim|           nao|           nao|       nao|         Otimo|  Cliente|           12|               1|
|  39|         2968|          1943|Doutorado|   Divorciado|    48948.0|          0|              0|          2013-02-01|                    53|       437|         8|      206|      160|        49|               42|                 2|                 7|                  10|                  5|                     6|           sim|           nao|           nao|           nao|           nao|       nao|         Otimo|  Cliente|           12|               1|
| 894|         8800|          1943|Doutorado|   Divorciado|    48948.0|          0|              0|          2013-02-01|                    53|       437|         8|      206|      160|        49|               42|                 2|                 7|                  10|                  5|                     6|           sim|           nao|           nao|           nao|           nao|       nao|         Otimo|  Cliente|           12|               2|
|2084|         5250|          1943| Mestrado|        Viuvo|   52247.25|          0|              0|          2013-10-30|                    75|       532|       126|      490|      164|       126|              126|                 1|                 5|                   5|                 11|                     1|           nao|           nao|           sim|           nao|           nao|       nao|         Otimo|  Cliente|           16|               3|
|1150|         1453|          1943|Doutorado|        Viuvo|    57513.0|          0|              0|          2013-07-06|                    59|       735|        40|      183|       52|        20|               30|                 2|                 9|                   3|                 13|                     6|           nao|           nao|           nao|           nao|           nao|       nao|         Otimo|  Cliente|           22|               4|
| 358|         6142|          1943| Mestrado|       Casado|    65073.0|          0|              0|          2013-08-20|                    65|       629|        17|      177|       69|         0|                8|                 1|                 5|                   3|                  5|                     2|           nao|           nao|           nao|           nao|           nao|       sim|         Otimo|  Cliente|           10|               5|
| 415|         7106|          1943|Doutorado|       Casado|    75865.0|          0|              0|          2014-03-31|                    73|       483|         0|      591|      156|         0|               12|                 1|                 3|                   5|                 10|                     1|           nao|           nao|           nao|           nao|           nao|       nao|         Otimo|  Cliente|           13|               6|
|1923|         4994|          1943| Mestrado|     Solteiro|    77598.0|          0|              0|          2013-10-01|                    53|      1193|        33|      281|      129|        66|               33|                 1|                 7|                   5|                 13|                     3|           nao|           nao|           sim|           nao|           nao|       nao|         Otimo|  Cliente|           20|               7|
| 611|         4587|          1944| Mestrado|        Viuvo|    45006.0|          0|              0|          2013-07-18|                    90|       162|        25|       53|       16|         0|               10|                 1|                 3|                   1|                  7|                     3|           nao|           nao|           nao|           nao|           nao|       nao|     Frequente|  Cliente|           10|               1|
| 494|         6605|          1944|Doutorado|   Divorciado|    55614.0|          0|              0|          2013-11-27|                    85|       504|        13|      131|        8|         0|               26|                 1|                 9|                   4|                  6|                     7|           nao|           sim|           nao|           nao|           nao|       nao|         Otimo|  Cliente|           15|               2|
|1270|         1740|          1944| Graduado|       Casado|    55956.0|          0|              0|          2014-04-07|                    22|       760|        38|      104|       50|         9|               38|                 2|                 7|                   3|                  4|                     4|           nao|           sim|           nao|           nao|           nao|       nao|         Otimo|  Cliente|           11|               3|
| 499|          466|          1944| Graduado|       Casado|    65275.0|          0|              0|          2013-04-03|                     9|       388|        14|      218|       91|        14|               21|                 1|                 4|                   3|                 13|                     2|           nao|           nao|           nao|           nao|           nao|       nao|         Otimo|  Cliente|           17|               4|
| 519|         3711|          1944| Mestrado|       Casado|    80184.0|          0|              0|          2014-03-01|                    19|      1035|       134|      670|       25|        38|                0|                 1|                 6|                   3|                 10|                     3|           nao|           nao|           sim|           sim|           nao|       nao|         Otimo|  Cliente|           16|               5|
|1413|         4310|          1944| Graduado|       Casado|    80589.0|          0|              0|          2014-01-22|                    25|       507|        93|      520|      242|        40|               26|                 1|                 5|                  10|                  5|                     1|           nao|           nao|           nao|           sim|           nao|       nao|         Otimo|  Cliente|           10|               6|
| 803|         9930|          1944|Doutorado|     Solteiro|    82716.0|          0|              0|          2013-11-05|                     8|       606|       148|      228|       15|       148|               22|                 1|                 6|                   8|                 13|                     2|           nao|           nao|           nao|           nao|           nao|       nao|         Otimo|  Cliente|           19|               7|
|1742|          263|          1945|Doutorado|     Solteiro|    45576.0|          0|              0|          2014-05-28|                     9|        56|        19|       29|        2|        14|               25|                 1|                 3|                   1|                  3|                     8|           nao|           nao|           nao|           nao|           nao|       nao|     Frequente|  Cliente|            6|               1|
+----+-------------+--------------+---------+-------------+-----------+-----------+---------------+--------------------+----------------------+----------+----------+---------+---------+----------+-----------------+------------------+------------------+--------------------+-------------------+----------------------+--------------+--------------+--------------+--------------+--------------+----------+--------------+---------+-------------+----------------+
only showing top 20 rows

In [83]:
df2.withColumn("percent_rank",percent_rank().over(w0)).show()

+----+-------------+--------------+---------+-------------+-----------+-----------+---------------+--------------------+----------------------+----------+----------+---------+---------+----------+-----------------+------------------+------------------+--------------------+-------------------+----------------------+--------------+--------------+--------------+--------------+--------------+----------+--------------+---------+-------------+-------------------+
|    |identificacao|ano_nascimento| educacao| estado_civil|renda_anual|qtd_crianca|qtd_adolescente|data_primeira_compra|dias_desde_ult_compras|qtd_vinhos|qtd_frutas|qtd_carne|qtd_peixe|guloseimas|qtd_produtos_gold|qtd_ofertas_compra|qtd_compras_online|qtd_compras_catalogo|qtd_compras_na_loja|qtd_visitas_online_mes|oferta_aceita1|oferta_aceita2|oferta_aceita3|oferta_aceita4|oferta_aceita5|reclamacao|Relacionamento|Clientela|compras_total|       percent_rank|
+----+-------------+--------------+---------+-------------+-----------+-----------+---------------+--------------------+----------------------+----------+----------+---------+---------+----------+-----------------+------------------+------------------+--------------------+-------------------+----------------------+--------------+--------------+--------------+--------------+--------------+----------+--------------+---------+-------------+-------------------+
| 239|        11004|          1893|Mestrando|     Solteiro|    60182.0|          0|              1|          2014-05-17|                    23|         8|         0|        5|        7|         0|                2|                 1|                 1|                   0|                  2|                     4|           nao|           nao|           nao|           nao|           nao|       nao|     Frequente|  Cliente|            3|                0.0|
| 339|         1150|          1899|Doutorado|Uniao_estavel|    83532.0|          0|              0|          2013-09-26|                    36|       755|       144|      562|      104|        64|              224|                 1|                 4|                   6|                  4|                     1|           nao|           nao|           sim|           nao|           nao|       nao|         Otimo|  Cliente|            8|                0.0|
| 192|         7829|          1900|Mestrando|   Divorciado|    36640.0|          1|              0|          2013-09-26|                    99|        15|         6|        8|        7|         4|               25|                 1|                 2|                   1|                  2|                     5|           nao|           nao|           nao|           nao|           nao|       sim|     Frequente|  Cliente|            4|                0.0|
|1950|         6663|          1940|Doutorado|     Solteiro|    51141.0|          0|              0|          2013-07-08|                    96|       144|         0|        7|        0|         0|                6|                 1|                 3|                   1|                  4|                     5|           nao|           nao|           nao|           nao|           nao|       nao|     Frequente|  Cliente|            7|                0.0|
| 424|         6932|          1941|Doutorado|       Casado|    93027.0|          0|              0|          2013-04-13|                    77|      1285|        42|      716|       55|         0|               21|                 0|                 7|                  10|                  5|                     2|           nao|           nao|           sim|           nao|           nao|       nao|         Otimo|  Cliente|           12|                0.0|
|  39|         2968|          1943|Doutorado|   Divorciado|    48948.0|          0|              0|          2013-02-01|                    53|       437|         8|      206|      160|        49|               42|                 2|                 7|                  10|                  5|                     6|           sim|           nao|           nao|           nao|           nao|       nao|         Otimo|  Cliente|           12|                0.0|
| 894|         8800|          1943|Doutorado|   Divorciado|    48948.0|          0|              0|          2013-02-01|                    53|       437|         8|      206|      160|        49|               42|                 2|                 7|                  10|                  5|                     6|           sim|           nao|           nao|           nao|           nao|       nao|         Otimo|  Cliente|           12|                0.0|
|2084|         5250|          1943| Mestrado|        Viuvo|   52247.25|          0|              0|          2013-10-30|                    75|       532|       126|      490|      164|       126|              126|                 1|                 5|                   5|                 11|                     1|           nao|           nao|           sim|           nao|           nao|       nao|         Otimo|  Cliente|           16| 0.3333333333333333|
|1150|         1453|          1943|Doutorado|        Viuvo|    57513.0|          0|              0|          2013-07-06|                    59|       735|        40|      183|       52|        20|               30|                 2|                 9|                   3|                 13|                     6|           nao|           nao|           nao|           nao|           nao|       nao|         Otimo|  Cliente|           22|                0.5|
| 358|         6142|          1943| Mestrado|       Casado|    65073.0|          0|              0|          2013-08-20|                    65|       629|        17|      177|       69|         0|                8|                 1|                 5|                   3|                  5|                     2|           nao|           nao|           nao|           nao|           nao|       sim|         Otimo|  Cliente|           10| 0.6666666666666666|
| 415|         7106|          1943|Doutorado|       Casado|    75865.0|          0|              0|          2014-03-31|                    73|       483|         0|      591|      156|         0|               12|                 1|                 3|                   5|                 10|                     1|           nao|           nao|           nao|           nao|           nao|       nao|         Otimo|  Cliente|           13| 0.8333333333333334|
|1923|         4994|          1943| Mestrado|     Solteiro|    77598.0|          0|              0|          2013-10-01|                    53|      1193|        33|      281|      129|        66|               33|                 1|                 7|                   5|                 13|                     3|           nao|           nao|           sim|           nao|           nao|       nao|         Otimo|  Cliente|           20|                1.0|
| 611|         4587|          1944| Mestrado|        Viuvo|    45006.0|          0|              0|          2013-07-18|                    90|       162|        25|       53|       16|         0|               10|                 1|                 3|                   1|                  7|                     3|           nao|           nao|           nao|           nao|           nao|       nao|     Frequente|  Cliente|           10|                0.0|
| 494|         6605|          1944|Doutorado|   Divorciado|    55614.0|          0|              0|          2013-11-27|                    85|       504|        13|      131|        8|         0|               26|                 1|                 9|                   4|                  6|                     7|           nao|           sim|           nao|           nao|           nao|       nao|         Otimo|  Cliente|           15|0.16666666666666666|
|1270|         1740|          1944| Graduado|       Casado|    55956.0|          0|              0|          2014-04-07|                    22|       760|        38|      104|       50|         9|               38|                 2|                 7|                   3|                  4|                     4|           nao|           sim|           nao|           nao|           nao|       nao|         Otimo|  Cliente|           11| 0.3333333333333333|
| 499|          466|          1944| Graduado|       Casado|    65275.0|          0|              0|          2013-04-03|                     9|       388|        14|      218|       91|        14|               21|                 1|                 4|                   3|                 13|                     2|           nao|           nao|           nao|           nao|           nao|       nao|         Otimo|  Cliente|           17|                0.5|
| 519|         3711|          1944| Mestrado|       Casado|    80184.0|          0|              0|          2014-03-01|                    19|      1035|       134|      670|       25|        38|                0|                 1|                 6|                   3|                 10|                     3|           nao|           nao|           sim|           sim|           nao|       nao|         Otimo|  Cliente|           16| 0.6666666666666666|
|1413|         4310|          1944| Graduado|       Casado|    80589.0|          0|              0|          2014-01-22|                    25|       507|        93|      520|      242|        40|               26|                 1|                 5|                  10|                  5|                     1|           nao|           nao|           nao|           sim|           nao|       nao|         Otimo|  Cliente|           10| 0.8333333333333334|
| 803|         9930|          1944|Doutorado|     Solteiro|    82716.0|          0|              0|          2013-11-05|                     8|       606|       148|      228|       15|       148|               22|                 1|                 6|                   8|                 13|                     2|           nao|           nao|           nao|           nao|           nao|       nao|         Otimo|  Cliente|           19|                1.0|
|1742|          263|          1945|Doutorado|     Solteiro|    45576.0|          0|              0|          2014-05-28|                     9|        56|        19|       29|        2|        14|               25|                 1|                 3|                   1|                  3|                     8|           nao|           nao|           nao|           nao|           nao|       nao|     Frequente|  Cliente|            6|                0.0|
+----+-------------+--------------+---------+-------------+-----------+-----------+---------------+--------------------+----------------------+----------+----------+---------+---------+----------+-----------------+------------------+------------------+--------------------+-------------------+----------------------+--------------+--------------+--------------+--------------+--------------+----------+--------------+---------+-------------+-------------------+
only showing top 20 rows

### **Carregamento no Drive**

In [98]:
# Salva local 
df2.write.csv("df_spark_marketing_campaign.csv")

In [101]:
# Salva local na pasta "/content/"
df2.write.format("com.databricks.spark.csv").option("header", "true").option("inferschema", "true")\
    .option("delimiter", ";").save("/content/df_spark_marketing_campaign.csv")

### **Carregamento no GCP**

In [93]:
# Salva no GCP
df2.coalesce(1).write.mode('overwrite').csv(path)