# **Nivel SparkSQL**

**Instalação do PySpark**

In [1]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.2.1)
Requirement already satisfied: py4j==0.10.9.3 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9.3)

In [2]:
pip install gcsfs

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: gcsfs in /usr/local/lib/python3.7/dist-packages (2022.5.0)
Requirement already satisfied: google-auth-oauthlib in /usr/local/lib/python3.7/dist-packages (from gcsfs) (0.4.6)
Requirement already satisfied: google-auth>=1.2 in /usr/local/lib/python3.7/dist-packages (from gcsfs) (1.35.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from gcsfs) (2.23.0)
Requirement already satisfied: google-cloud-storage in /usr/local/lib/python3.7/dist-packages (from gcsfs) (1.18.1)
Requirement already satisfied: fsspec==2022.5.0 in /usr/local/lib/python3.7/dist-packages (from gcsfs) (2022.5.0)
Requirement already satisfied: aiohttp<4 in /usr/local/lib/python3.7/dist-packages (from gcsfs) (3.8.1)
Requirement already satisfied: decorator>4.1.2 in /usr/local/lib/python3.7/dist-packages (from gcsfs) (4.4.2)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4->gcsfs) (21.4.0)
Requirement already satisfied: typing-extensions>=3.7.4 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4->gcsfs) (4.2.0)
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4->gcsfs) (2.0.12)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4->gcsfs) (1.7.2)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4->gcsfs) (6.0.2)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4->gcsfs) (4.0.2)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4->gcsfs) (1.2.0)
Requirement already satisfied: asynctest==0.13.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4->gcsfs) (0.13.0)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4->gcsfs) (1.3.0)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (1.15.0)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (4.2.4)
Requirement already satisfied: setuptools>=40.3.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (57.4.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (4.8)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (0.2.8)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth>=1.2->gcsfs) (0.4.8)
Requirement already satisfied: idna>=2.0 in /usr/local/lib/python3.7/dist-packages (from yarl<2.0,>=1.0->aiohttp<4->gcsfs) (2.10)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib->gcsfs) (1.3.1)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib->gcsfs) (3.2.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->gcsfs) (2022.5.18.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->gcsfs) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->gcsfs) (3.0.4)
Requirement already satisfied: google-resumable-media<0.5.0dev,>=0.3.1 in /usr/local/lib/python3.7/dist-packages (from google-cloud-storage->gcsfs) (0.4.1)
Requirement already satisfied: google-cloud-core<2.0dev,>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from google-cloud-storage->gcsfs) (1.0.3)
Requirement already satisfied: google-api-core<2.0.0dev,>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (1.31.5)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (2022.1)
Requirement already satisfied: protobuf>=3.12.0 in /usr/local/lib/python3.7/dist-packages (from google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (3.17.3)
Requirement already satisfied: packaging>=14.3 in /usr/local/lib/python3.7/dist-packages (from google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (21.3)
Requirement already satisfied: googleapis-common-protos<2.0dev,>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (1.56.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=14.3->google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (3.0.9)

**Importação de biliotecas**

In [3]:
# CHAMAR AS BIBLIOTECAS e MÓDULOS NECESSÁRIAS

from pyspark import SparkConf
from google.colab import drive
from google.cloud import storage
from pyspark.sql import SparkSession
import os
import csv
import pyspark.sql.functions as F
from pyspark.sql.functions import *
from pyspark.sql import SparkSession
from pyspark.sql.window import Window
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, DateType, FloatType, DoubleType

In [4]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

### **Configuração de Acesso para os GCP**

In [5]:
# CONFIGURAÇÃO DA CHAVE DE SEGURANÇA

serviceAccount = '/content/weighty-archive-349117-ab0ee1ad5b41.json'

os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = serviceAccount

In [6]:
# CÓDIGO QUE ACESSA A BUCKET CRIADA E FAZ O DOWNLOAD DOS ARQUIVOS VIA PANDAS

client = storage.Client()

# CRIAR UMA VARIÁVEL CHAMADA BUCKET QUE VAI RECEBER O NOME DA BUCKET DO CLOUD STORAGE
bucket = client.get_bucket('soulcodemarketing')

# USAR O MÉTODO BLOB PARA RETORNAR O NOME DO ARQUIVO (JSON, CSV, PARQUET)
bucket.blob('marketing_campaign.csv')

 #CRIA UMA VARIÁVEL PATH PARA COLOCAR O CAMINHO DO CSV
path = 'gs://soulcodemarketing/marketing_campaign.csv'

**Conecção com o Apache-Spark**

In [7]:
# CRIAR A SPARK SESSION E LER O ARQUIVO VIA PYSPARK

spark = (SparkSession.builder\
        .master("local")\
        .appName("mkt_dfsql")\
        .config("spark.ui.port", "4050")\
        .config("spark.jars", 'https://storage.googleapis.com/hadoop-lib/gcs/gcs-connector-hadoop2-latest.jar')\
        .getOrCreate())

In [8]:
spark  # Verifica a conecção

**Carrega dados do arquivo - df_pd_marketing_campaign.csv**

In [20]:
df = (spark
      .read
      .format("csv")
      .option("header", "true")
      .option("inferschema", "true")
      .option("delimiter", ",")
      .load('/content/df_pd_marketing_campaign.csv')
      #.load(path)
      .createOrReplaceTempView("marketing"))

**1 - Imprime a tabela na tela 10 linhas.**

In [29]:
spark.sql('''SELECT * FROM marketing''').show()

+---+----+--------------+------------------+-------------+-----------------+-----------+---------------+--------------------+----------------------+----------+----------+---------+---------+----------+-----------------+------------------+------------------+--------------------+-------------------+----------------------+--------------+--------------+--------------+--------------+--------------+----------+----------------+-------+--------+
|_c0|  id|ano_nascimento|          educacao| estado_civil|      renda_anual|qtd_crianca|qtd_adolescente|primeira_data_compra|dias_desde_ult_compras|qtd_vinhos|qtd_frutas|qtd_carne|qtd_peixe|guloseimas|qtd_produtos_gold|qtd_ofertas_compra|qtd_compras_online|qtd_compras_catalogo|qtd_compras_na_loja|qtd_visitas_online_mes|oferta_aceita1|oferta_aceita2|oferta_aceita3|oferta_aceita4|oferta_aceita5|reclamacao|contato_de_custo|receita|resposta|
+---+----+--------------+------------------+-------------+-----------------+-----------+---------------+--------------------+----------------------+----------+----------+---------+---------+----------+-----------------+------------------+------------------+--------------------+-------------------+----------------------+--------------+--------------+--------------+--------------+--------------+----------+----------------+-------+--------+
|  0|5524|          1957|          Graduado|     Solteiro|          58138.0|          0|              0|          2012-09-04|                    58|       635|        88|      546|      172|        88|               88|                 3|                 8|                  10|                  4|                     7|           nao|           nao|           nao|           nao|           nao|       nao|               3|     11|     sim|
|  1|2174|          1954|          Graduado|     Solteiro|          46344.0|          1|              1|          2014-03-08|                    38|        11|         1|        6|        2|         1|                6|                 2|                 1|                   1|                  2|                     5|           nao|           nao|           nao|           nao|           nao|       nao|               3|     11|     nao|
|  2|4141|          1965|          Graduado|Uniao_estavel|          71613.0|          0|              0|          2013-08-21|                    26|       426|        49|      127|      111|        21|               42|                 1|                 8|                   2|                 10|                     4|           nao|           nao|           nao|           nao|           nao|       nao|               3|     11|     nao|
|  3|6182|          1984|          Graduado|Uniao_estavel|          26646.0|          1|              0|          2014-02-10|                    26|        11|         4|       20|       10|         3|                5|                 2|                 2|                   0|                  4|                     6|           nao|           nao|           nao|           nao|           nao|       nao|               3|     11|     nao|
|  4|5324|          1981|         Doutorado|       Casado|          58293.0|          1|              0|          2014-01-19|                    94|       173|        43|      118|       46|        27|               15|                 5|                 5|                   3|                  6|                     5|           nao|           nao|           nao|           nao|           nao|       nao|               3|     11|     nao|
|  5|7446|          1967|          Mestrado|Uniao_estavel|          62513.0|          0|              1|          2013-09-09|                    16|       520|        42|       98|        0|        42|               14|                 2|                 6|                   4|                 10|                     6|           nao|           nao|           nao|           nao|           nao|       nao|               3|     11|     nao|
|  6| 965|          1971|          Graduado|   Divorciado|          55635.0|          0|              1|          2012-11-13|                    34|       235|        65|      164|       50|        49|               27|                 4|                 7|                   3|                  7|                     6|           nao|           nao|           nao|           nao|           nao|       nao|               3|     11|     nao|
|  7|6177|          1985|         Doutorado|       Casado|          33454.0|          1|              0|          2013-05-08|                    32|        76|        10|       56|        3|         1|               23|                 2|                 4|                   0|                  4|                     8|           nao|           nao|           nao|           nao|           nao|       nao|               3|     11|     nao|
|  8|4855|          1974|         Doutorado|Uniao_estavel|          30351.0|          1|              0|          2013-06-06|                    19|        14|         0|       24|        3|         3|                2|                 1|                 3|                   0|                  2|                     9|           nao|           nao|           nao|           nao|           nao|       nao|               3|     11|     sim|
|  9|5899|          1950|         Doutorado|Uniao_estavel|           5648.0|          1|              1|          2014-03-13|                    68|        28|         0|        6|        1|         1|               13|                 1|                 1|                   0|                  0|                    20|           sim|           nao|           nao|           nao|           nao|       nao|               3|     11|     nao|
| 10|1994|          1983|          Graduado|       Casado|52247.25135379061|          1|              0|          2013-11-15|                    11|         5|         5|        6|        0|         2|                1|                 1|                 1|                   0|                  2|                     7|           nao|           nao|           nao|           nao|           nao|       nao|               3|     11|     nao|
| 11| 387|          1976|Ensino_fundamental|       Casado|           7500.0|          0|              0|          2012-11-13|                    59|         6|        16|       11|       11|         1|               16|                 1|                 2|                   0|                  3|                     8|           nao|           nao|           nao|           nao|           nao|       nao|               3|     11|     nao|
| 12|2125|          1959|          Graduado|   Divorciado|          63033.0|          0|              0|          2013-11-15|                    82|       194|        61|      480|      225|       112|               30|                 1|                 3|                   4|                  8|                     2|           nao|           nao|           nao|           nao|           nao|       nao|               3|     11|     nao|
| 13|8180|          1952|          Mestrado|   Divorciado|          59354.0|          1|              1|          2013-11-15|                    53|       233|         2|       53|        3|         5|               14|                 3|                 6|                   1|                  5|                     6|           nao|           nao|           nao|           nao|           nao|       nao|               3|     11|     nao|
| 14|2569|          1987|          Graduado|       Casado|          17323.0|          0|              0|          2012-10-10|                    38|         3|        14|       17|        6|         1|                5|                 1|                 1|                   0|                  3|                     8|           nao|           nao|           nao|           nao|           nao|       nao|               3|     11|     nao|
| 15|2114|          1946|         Doutorado|     Solteiro|          82800.0|          0|              0|          2012-11-24|                    23|      1006|        22|      115|       59|        68|               45|                 1|                 7|                   6|                 12|                     3|           nao|           nao|           sim|           sim|           nao|       nao|               3|     11|     sim|
| 16|9736|          1980|          Graduado|       Casado|          41850.0|          1|              1|          2012-12-24|                    51|        53|         5|       19|        2|        13|                4|                 3|                 3|                   0|                  3|                     8|           nao|           nao|           nao|           nao|           nao|       nao|               3|     11|     nao|
| 17|4939|          1946|          Graduado|Uniao_estavel|          37760.0|          0|              0|          2012-08-31|                    20|        84|         5|       38|      150|        12|               28|                 2|                 4|                   1|                  6|                     7|           nao|           nao|           nao|           nao|           nao|       nao|               3|     11|     nao|
| 18|6565|          1949|          Mestrado|       Casado|          76995.0|          0|              1|          2013-03-28|                    91|      1012|        80|      498|        0|        16|              176|                 2|                11|                   4|                  9|                     5|           nao|           nao|           nao|           sim|           nao|       nao|               3|     11|     nao|
| 19|2278|          1985|         Mestrando|     Solteiro|          33812.0|          1|              0|          2012-11-03|                    86|         4|        17|       19|       30|        24|               39|                 2|                 2|                   1|                  3|                     6|           nao|           nao|           nao|           nao|           nao|       nao|               3|     11|     nao|
+---+----+--------------+------------------+-------------+-----------------+-----------+---------------+--------------------+----------------------+----------+----------+---------+---------+----------+-----------------+------------------+------------------+--------------------+-------------------+----------------------+--------------+--------------+--------------+--------------+--------------+----------+----------------+-------+--------+
only showing top 20 rows

**2 - Imprime os indexes da tabela.**

In [17]:
spark.sql('''DESCRIBE marketing''').show()

+----------+---------+-------+
|  col_name|data_type|comment|
+----------+---------+-------+
|        00|      int|   null|
|      5524|      int|   null|
|      1957|      int|   null|
|  Graduado|   string|   null|
|  Solteiro|   string|   null|
|   58138.0|   double|   null|
|        06|      int|   null|
|        07|      int|   null|
|2012-09-04|   string|   null|
|        58|      int|   null|
|       635|      int|   null|
|      8811|      int|   null|
|       546|      int|   null|
|       172|      int|   null|
|      8814|      int|   null|
|      8815|      int|   null|
|         3|      int|   null|
|         8|      int|   null|
|        10|      int|   null|
|         4|      int|   null|
+----------+---------+-------+
only showing top 20 rows

**3 - Seleção da renda anual e perfil de compras com base nos dados socio-economicos**

In [22]:
spark.sql('''
            SELECT id, renda_anual,  qtd_compras_online, educacao, estado_civil, dias_desde_ult_compras, qtd_visitas_online_mes
            FROM marketing
            ORDER BY renda_anual DESC;
          ''').show()

+-----+-----------+------------------+---------+-------------+----------------------+----------------------+
|   id|renda_anual|qtd_compras_online| educacao| estado_civil|dias_desde_ult_compras|qtd_visitas_online_mes|
+-----+-----------+------------------+---------+-------------+----------------------+----------------------+
| 9432|   666666.0|                 3| Graduado|Uniao_estavel|                    23|                     6|
| 1503|   162397.0|                 0|Doutorado|Uniao_estavel|                    31|                     1|
| 1501|   160803.0|                 0|Doutorado|       Casado|                    21|                     0|
| 5336|   157733.0|                 1| Mestrado|Uniao_estavel|                    37|                     1|
| 8475|   157243.0|                 0|Doutorado|       Casado|                    98|                     0|
| 4931|   157146.0|                 0| Graduado|Uniao_estavel|                    13|                     1|
|11181|   156924.0|                 0|Doutorado|       Casado|                    85|                     0|
| 5555|   153924.0|                 0| Graduado|   Divorciado|                    81|                     0|
| 4619|   113734.0|                27|Doutorado|     Solteiro|                     9|                     1|
| 4611|   105471.0|                 9| Graduado|Uniao_estavel|                    36|                     3|
|10089|   102692.0|                 6| Graduado|   Divorciado|                     5|                     2|
| 2798|   102160.0|                 7|Doutorado|Uniao_estavel|                    54|                     4|
| 7215|   101970.0|                 6| Graduado|     Solteiro|                    69|                     2|
| 4248|    98777.0|                 4| Mestrado|     Solteiro|                    23|                     1|
| 7451|    98777.0|                 4| Mestrado|     Solteiro|                    23|                     1|
|  500|    96876.0|                 7| Graduado|Uniao_estavel|                    79|                     2|
| 2109|    96843.0|                 6| Graduado|     Solteiro|                    60|                     2|
| 6815|    96547.0|                 7|Mestrando|       Casado|                     4|                     2|
|10619|    95529.0|                 7| Graduado|     Solteiro|                    29|                     3|
| 7962|    95169.0|                 4|Doutorado|     Solteiro|                     1|                     1|
+-----+-----------+------------------+---------+-------------+----------------------+----------------------+
only showing top 20 rows

**4 - Estudo com criterio de quantdade de compras, renda anual e dias desde da ultima compra.**

In [23]:
spark.sql('''
            SELECT id, qtd_compras_online, renda_anual, dias_desde_ult_compras
            FROM marketing
            ORDER BY qtd_compras_online DESC;
          ''').show(10)

+-----+------------------+-----------------+----------------------+
|   id|qtd_compras_online|      renda_anual|dias_desde_ult_compras|
+-----+------------------+-----------------+----------------------+
| 5255|                27|52247.25135379061|                    19|
| 4619|                27|         113734.0|                     9|
|10311|                25|           4428.0|                     0|
| 6237|                23|           7144.0|                    92|
| 8931|                11|          83033.0|                    82|
| 7030|                11|          66465.0|                     1|
| 9365|                11|          60000.0|                    57|
| 6439|                11|          61074.0|                    37|
| 4299|                11|          70971.0|                    28|
| 7381|                11|          75693.0|                    10|
+-----+------------------+-----------------+----------------------+
only showing top 10 rows

**5 -  Estudo com critério do maior numero de dias sem comprar.**

In [24]:
spark.sql('''
            SELECT id, dias_desde_ult_compras, qtd_compras_online, renda_anual 
            FROM marketing
            ORDER BY dias_desde_ult_compras DESC;
          ''').show()

+-----+----------------------+------------------+-----------+
|   id|dias_desde_ult_compras|qtd_compras_online|renda_anual|
+-----+----------------------+------------------+-----------+
|  868|                    99|                 2|    44794.0|
| 7829|                    99|                 2|    36640.0|
| 7232|                    99|                 1|    42429.0|
|10142|                    99|                 5|    66476.0|
| 9977|                    99|                 9|    78901.0|
| 8595|                    99|                 1|    42429.0|
| 7947|                    99|                 1|    42231.0|
| 5263|                    99|                 1|    31056.0|
| 3363|                    99|                 1|    20130.0|
| 4070|                    99|                 8|    94871.0|
| 2831|                    99|                 7|    78416.0|
| 2415|                    99|                 5|    62568.0|
| 1743|                    99|                 2|    69719.0|
| 7212|                    99|                 2|    44794.0|
| 2106|                    99|                 1|    20130.0|
|  528|                    99|                 5|    65819.0|
|   22|                    99|                 6|    46310.0|
| 2320|                    98|                11|    47025.0|
|  213|                    98|                 2|    23091.0|
| 6722|                    98|                10|    70421.0|
+-----+----------------------+------------------+-----------+
only showing top 20 rows